.App {
  overflow: hidden;
  display: flex;
  padding-left: 50px;
  margin-top: 30vh;
  height: 250px;
}

#root{
  height: 100%;
}

a{
  text-decoration: none;
  color: #45433a;
}

.block{
  display: flex;
  flex-direction: column;
}

.tab{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bcab99;
  color: #45433a;
  width: 320px;
  margin-bottom: 32px;
  height: 37px;
  font-size: 20px;
  line-height: 37px;
  padding-left: 25px;
  transition: 0.2s;
}

.tab:hover{
  background-color: #45433a;
  color: #bcab99;
  visibility: visible;
  margin-left: 2.5%;
}

.tab .hover {
  visibility: hidden;
  color: #45433a;
}

.tab:hover .hover{
  visibility: visible;
  color: #bcab99;
}

.vertical{
  margin-right: 15px;
  display: flex;
  flex-direction: row;
}

.ver{
  margin-left: 5px;
  width: 10px;
  height: 244px;
  background-color: #bcab99;
}

.ver.nd{
  width:5px;
}
