.App {
  display: flex;
  padding-left: 50px;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: #45433a;
}

.block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab{
  font-family: Arial, Helvetica, sans-serif;
  width: 320px;
  margin-bottom: 32px;
  margin-left: -30px;
  height: 37px;
  font-size: 20px;
  line-height: 37px;
  padding-left: 10px;
  transition: 0.2s;
  list-style-type: none;
  -initialTextColor: #45433a;
      --slideTextColor: #bcab99;
      --initialTextColor:#45433a;
      --initialBgColor: #bcab99;
      --slideBgColor: #45433a;
      color: var(--initialTextColor);
  background-image: linear-gradient(90deg,
      var(--initialBgColor) 50%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
      background-size: 200%;
      transition: .2s linear;
      transition-delay: 0.0s, 0.1s;
}

.tab:hover{
  visibility: visible;
  color: var(--slideTextColor);
  background-position: -100%;
}

.tab .hover {
  color: #bcab99;
}

.vertical{
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  list-style-type: none;
}

.ver{
  margin-left: 5px;
  width: 10px;
  height: 244px;
  background-color: #bcab99;
}

.ver.nd{
  width:5px;
}

@media(max-width: 800px){

  .App{
    padding-left: 37px;
  }

  .vertical{
    margin-right: 10px;
    margin-bottom: 24px;
  }
  
  .tab{
    width: 215px;
    height: 27px;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 24px;
  }

  .ver{
    width: 7.5px;
    height: 180px;
  }

  .ver.nd{
    width: 3.5px;
  }
}
